.title {
    margin-top: 6rem;
    text-align: center;
}

p {
    text-align: center;
    margin-top: 2rem;
}

.text {
    margin-top: 20rem;
}

@media (max-width: 600px) {
    
}

.icons {
    display: flex;
    overflow: hidden;
    align-items: center;

    & img:nth-child(1) {
        width: 40px;
    }
    
}