section{
    margin-top: 5rem;
    p{
        display: flex;
        margin-top: 0;
        justify-content: center;
        
    }
}


.title-book {
    display: flex;
    justify-content: center;


    .title-section{
        display: flex;
        align-items: center;
    }
}


@media (max-width: 600px) {
    .title-section{
        h2{
            font-size: 1.2rem;
        }
    }
}

#book {
   
   display: flex;
   margin-top: 15rem;
   justify-content: center;


   & img {
        width: 29rem;
        height: 38rem;
    }

    & img:nth-child(2) {
        width: 13rem;
        height: 37rem;
    }

    & img:nth-child(3) {
        width: 13rem;
        height: 37rem;
    }

    & img:nth-child(4) {
        width: 13rem;
        height: 15rem;
        margin-top: 25rem;
    }

}

@media (max-width: 600px) {
    #book {

        margin-top: 5rem;
       & img:nth-child(1){
        width: 10rem;
        height: 10rem;
       }

       & img:nth-child(2){
        width: 10rem;
        height: 10rem;
       }

       & img:nth-child(3){
        width: 10rem;
        height: 10rem;
       }

       & img:nth-child(4){
        width: 8rem;
        height: 8rem;
        margin-top: 4rem;
       }
    }
}

.legends {
    display: flex;
    font-size: 1rem;
    gap: 16rem;
    justify-content: center;
    margin-top: -3rem;
    p {
        color: var(--pink-dark);
        font-weight: 700;
        text-shadow: 10px 10px 50px var(--pink-dark);
    }
}

@media (max-width: 600px) {
    .legends {
       display: none;
    }
}



